#HamburgerMenuAnimation{

    width: 15rem;
    height: 100svh;
    background-color: white;

    position: fixed;

    top: 0rem;
    right: -15rem;

    z-index: -1;

    display: flex;
    justify-content: center;
    align-items: center;
}

#Hamburgermenu{
    z-index: +10;
    cursor: pointer;
}

.hamLines{
    position: absolute;

    height: 0.2rem;
}

.hamburgerLine1{

    transition-property: all;
    transition-duration: 1s;
    transform-origin: center;

    top: 0.35rem;
    right: 0;
}

.hamburgerLine2{
    transition-property: all;
    transition-duration: 1s;
    transform-origin: center;

    top: 0.7rem;
    right: 0;
}


.hamburgerLine3{
    transition-property: all;
    transition-duration: 1s;
    transform-origin: center;

    top: 1.05rem;
    right: 0;
}

#hamburgerMenuIcon{

    z-index: +1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: all;
    transition-duration: 1s;

    right: 2.2rem;
}

.hamburgerLine1Anime{
    
    cursor: pointer;
    top: 70%;
    transform: rotate(45deg);
    
}


.hamburgerLine3Anime{
    
    cursor: pointer;
    top: 70%;
    transform: rotate(-45deg);
    
}



.hamburgerLine2Anime{
    
    cursor: pointer;
    opacity: 0;
    
}

#menuWrapper{
    position: fixed;
    right: 1rem;

    transition-property: all;
    transition-duration: 1s;

}

#menuWriting{
    transition: all;
    transition-duration: 1s;
}

.menuWrapperAnime1{

    transform: translateX(3.6rem);
    

}

.menuWrapperAnime2{

    transform: translateX(2.6rem);
}

/* ADDING THE LINKS */

/* .menuWrapper{} */
.whatsapp{

    /* background-color: white; */
    /* font-family: "wednesday"; */
    font-family: 'Bebas Neue', sans-serif;
    /* font-family: "netflix"; */
    color: #e50914;
    font-size: 2rem;
    font-weight: 500;

    margin-bottom: 0.5rem;
}

.linkedin{

    font-family: 'Bebas Neue', sans-serif;
    color: #e50914;
    font-size: 2rem;
    font-weight: 500;

    margin-bottom: 0.5rem;
}

.instagram{
    font-family: 'Bebas Neue', sans-serif;
    color: #e50914;
    font-size: 2rem;
    font-weight: 500;

    margin-bottom: 2.5rem;
    
}

.Register{

    font-family: 'Bebas Neue', sans-serif;
    color: white;
    font-size: 2.5rem;
    font-weight: 500;

    background-color: #e50914;
    padding: 0.4rem;
    padding-top: 0.7rem;

    /* border: solid 2px #e50914; */

    /* margin-bottom: 1.5rem; */
}