#TwentyFirstSeptemberEventsAndRules{


    width: 100%;
    max-width: 1920px;

    /* background-color: red; */
    background-color: black;

    /* height: 100vh;  */

    padding: 0rem 2rem;

    padding-top: 1rem;
    padding-bottom: 1rem;
}

#EventBox{

    width: 100%;
    /* max-width: ; */

    /* height: 20rem; */

    background-color: rgba(173, 173, 173, 0.2);
    border: 2px solid white;
    border-radius: 8px;

    position: relative;

    padding: 2rem 1.6rem;

    padding-bottom: 1.5rem;

    margin-bottom: 5rem;

    transition: 1s;
}


/* small logo of swagat */
.smallLogoOfSwagat{

    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
}

.smallLogoOfSwagat2{

    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}


.paragraphInEventBox{

    font-size: 1rem;
    line-height: 1.3rem;
}


.paragraphInEventBox2{

    font-size: 1rem;
    line-height: 1.3rem;

    margin-bottom: 1rem;
}

#eventNumber{

    width: 2.6rem;
    height: 2.8rem;
    background-color: red;

    position: absolute;
    top: -2.94rem;
    right: 1rem;
}

#mrAndMrsFrehersTag{

    position: absolute;

    background-color: red;

    bottom: -1.86rem;
    left: 1.6rem;

    padding: 0rem 0.4rem;
}

#RulesAndRegulationDownloadButton{

    position: absolute;
    left: 1.6rem;
    bottom: 1.3rem;
}


















/* TWENTY SECOND SEPTEMBER */
#TwentySecondSeptember{

    width: 100%;
    max-width: 1920px;

    height: 100vh;
    padding: 0rem 2rem;

    background-color: black;
    /* background-color: red; */

}


.twentySecondSeptember{

    background-color: black;
    width: 100%;

    display: flex;
    justify-content: start;
    align-items: center;

    
}

.oneMillionLogoEdit{

    width: 10rem;

}

