@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: 'Bebas Neue', sans-serif;
font-family: 'Borel', cursive;
font-family: 'Courgette', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'JetBrains Mono', monospace;
font-family: 'Jost', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Satisfy', cursive;
font-family: 'Sora', sans-serif;
font-family: 'Ubuntu', sans-serif; */

@font-face {
  font-family: "netflix";
  src: url(./assets/fonts/NetflixSans-Regular.otf);
}

.font-netflix {

  font-family: "netflix";
}

.font-netflix2 {
  font-family: 'Bebas Neue', sans-serif;
}

::selection {
  color: white;
  background: red;
}








/* COMING SOON PART THAT WILL BE COMMENTED OUT VERY SOON */
#ComingSoon {

  width: 100%;
  height: 100svh;

  background-color: black;
}

.ready {

  bottom: 1rem;
  font-weight: 700;

}

#Somethings {

  overflow: hidden;


}

#SomethingsPara {
  animation-name: something;
  animation-duration: 1s;
  /* animation-delay: 0.2s; */

}

@keyframes something {

  from {
    transform: translateY(5rem);
  }

  to {
    transform: translateY(0rem);
  }
}


#comingSoon {

  overflow: hidden;
}



#comingSoonPara {

  animation-name: comingSoon;
  animation-duration: 1s;

}



@keyframes comingSoon {
  from {
    transform: translateY(5rem);

  }

  to {
    transform: translateY(0rem);

  }
}












#root {

  overflow: hidden;
}

#LandingAnimation {

  width: 100%;
  height: 100svh;

  background-color: black;

  position: fixed;

  z-index: +100;
}

.LandingAnimationSrc {

  object-fit: cover;
  height: 100svh;
  pointer-events: none;
}

/* LANDING PAGE RELATED CSS BELOW THIS  */
#LandingPage {

  width: 100%;
  height: 100svh;

  background-color: black;

  padding: 0 1rem;
}

.TwoK23 {

  line-height: 1;
}

#Hamburgermenu {

  top: 1rem;
  right: 1rem;

  user-select: none;
}

.bottomWhiteIcon {

  position: absolute;
  bottom: 1rem;

  animation-name: bottomLogoAnimation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes bottomLogoAnimation {

  from {
    transform: translateY(-0.5rem);
  }

  to {
    transform: translateY(0rem);
  }

}

@media (max-width:425px) {

  .LandingAnimationSrc {
    height: 50rem;
  }
}



/* THE SWAGAT LOGO ANIMATIONS */
._s{


  animation-name: _S;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-fill-mode: forwards;


  stroke: #E50914;
  stroke-dashoffset:29rem ;
  stroke-dasharray:29rem ;
  
}

@keyframes _S {
  0%{
    stroke-dashoffset:29rem ;
    /* fill: none; */
    
  }
  100%{
    stroke-dashoffset:0rem ;
    /* fill: #E50914; */

  }
  
}


/* ANIMATING    W */
._w{


  animation-name: _W;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-fill-mode: forwards;


  stroke: #E50914;
  stroke-dashoffset:46rem ;
  stroke-dasharray:46rem ;
  
}

@keyframes _W {
  0%{
    stroke-dashoffset:46rem ;
    
    
  }
  100%{
    stroke-dashoffset:0rem ;
   

  }
  
}


/* ANIMATING   A   */

._a{


  animation-name: _A;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-fill-mode: forwards;


  stroke: #E50914;
  stroke-dashoffset:19rem ;
  stroke-dasharray:19rem ;
  
}


@keyframes _A {
  0%{
    stroke-dashoffset:19rem ;
    
    
  }
  100%{
    stroke-dashoffset:0rem ;
   

  }
  
}


/* THIS IS FOR THE "" G "" */

._g{


  animation-name: _G;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-fill-mode: forwards;


  stroke: #E50914;
  stroke-dashoffset:28rem ;
  stroke-dasharray:28rem ;
  
}

@keyframes _G {
  0%{
    stroke-dashoffset:28rem ;
    
    
  }
  100%{
    stroke-dashoffset:0rem ;
   

  }
  
}


/* THIS IS FOR THE 2ND "" A "" */
._a2{


  animation-name: _A2;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-fill-mode: forwards;


  stroke: #E50914;
  stroke-dashoffset:20rem ;
  stroke-dasharray:20rem ;
  
}

@keyframes _A2 {
  0%{
    stroke-dashoffset:20rem ;
    
    
  }
  100%{
    stroke-dashoffset:0rem ;
   

  }
  
}


/* THIS IF FOR THE "" T "" */

._t{


  animation-name: _T;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-fill-mode: forwards;


  stroke: #E50914;
  stroke-dashoffset:22rem ;
  stroke-dasharray:22rem ;
  
}

@keyframes _T {
  0%{
    stroke-dashoffset:22rem ;
    
    
  }
  100%{
    stroke-dashoffset:0rem ;
   

  }
  
}