@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: 'Bebas Neue', sans-serif;
font-family: 'Borel', cursive;
font-family: 'Courgette', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'JetBrains Mono', monospace;
font-family: 'Jost', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Satisfy', cursive;
font-family: 'Sora', sans-serif;
font-family: 'Ubuntu', sans-serif; */

@font-face {
  font-family: "netflix";
  src: url(./assets/fonts/NetflixSans-Regular.otf);
}


@font-face {
  font-family: "wednesday";
  src: url(./assets/fonts/Wednesday.ttf);
}


@font-face {
  font-family: "lucifer";
  src: url(./assets/fonts/luciferFont.ttf);
}

@font-face {
  font-family: "breakingBad";
  src: url(./assets/fonts/breakingBad.otf);
}

@font-face {
  font-family: "squidGames";
  src: url(./assets/fonts/squidGames.ttf);
}

@font-face {
  font-family: "gameOfThrones";
  src: url(./assets/fonts/gameOfThrones.ttf);
}

@font-face {
  font-family: "sacredGames";
  src: url(./assets/fonts/Paraoh.ttf);
}

.font-netflix {

  font-family: "netflix";
}

.font-netflix2 {
  font-family: 'Bebas Neue', sans-serif;
}

::selection {
  color: white;
  background: red;
}








/* COMING SOON PART THAT WILL BE COMMENTED OUT VERY SOON */
#ComingSoon {

  width: 100%;
  height: 100svh;

  background-color: black;
}

.ready {

  bottom: 1rem;
  font-weight: 700;

}

#Somethings {

  overflow: hidden;


}

#SomethingsPara {
  animation-name: something;
  animation-duration: 1s;
  /* animation-delay: 0.2s; */

}

@keyframes something {

  from {
    transform: translateY(5rem);
  }

  to {
    transform: translateY(0rem);
  }
}


#comingSoon {

  overflow: hidden;
}



#comingSoonPara {

  animation-name: comingSoon;
  animation-duration: 1s;

}



@keyframes comingSoon {
  from {
    transform: translateY(5rem);

  }

  to {
    transform: translateY(0rem);

  }
}












#root {

  overflow: hidden;
}



#startingText{

  position: absolute;
  font-family: "gameOfThrones";
  font-size: 1.4rem;

  text-align: center;

  animation-name: StartingText;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  opacity: 0;

  transition: 1s;

}


@keyframes StartingText {
from{
  opacity: 0;
  transform: translateY(-1rem);
}  
to{
  opacity: 1;
  transform: translateY(0rem);
}
}


#startingText2{

  position: absolute;
  font-family: "gameOfThrones";
  color: white;

  bottom: 10rem;

  opacity: 0;
  animation-name: StartingText2;
  animation-duration: 5s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;

  transition: 1s;

}

.text2{

  display: none;
}



@keyframes StartingText2 {
  
  from{
    /* transform: translateY(100rem); */
    opacity: 0;
  }
  to{
   /* transform: translateY(0rem); */
    opacity: 1;
  }
}
#LandingAnimation {

  width: 100%;
  height: 100svh;

  background-color: black;

  position: fixed;

  z-index: +100;


}

.LandingAnimationSrc {

  object-fit: cover;
  height: 100svh;
  pointer-events: none;
}

/* LANDING PAGE RELATED CSS BELOW THIS  */
#LandingPage {

  width: 100%;
  height: 100svh;

  background-color: black;

  padding: 0 2rem;
}

.TwoK23 {

  line-height: 1;
}

#Hamburgermenu {

  top: 1rem;
  right: 1rem;

  user-select: none;
}

.bottomWhiteIcon {

  position: absolute;
  bottom: 1rem;

  animation-name: bottomLogoAnimation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes bottomLogoAnimation {

  from {
    transform: translateY(-0.5rem);
  }

  to {
    transform: translateY(0rem);
  }

}

@media (max-width:425px) {

  .LandingAnimationSrc {
    height: 100svh;
  }
}



